{% extends 'homepage/base.html' %}

{% block body %}
    <div class="row h-100 williamimg">
        <div class="col-sm h-100 ">
            <h1 class="text-center myname" >William R. Walsh</h1>
            <p class="text-center myname">Inquisitive Computer Engineer</p>
            <p class="text-center myname">William is a software developer from Maryland, but now living in Charleston, SC.
            After getting his B.S. in Computer Engineering from Clemson he (work interests) (other interests) (experience in..)</p>
        </div>
    </div>
{% endblock body %}
