{% extends 'projects_navbar.html' %}
{% load staticfiles %}

{% block header %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'arcade/style.css' %}" >
{% endblock header %}

{% block body %}

    <div class="row">
        <div class="col-sm nopad">
            <div class="jumbotron jumbotron-fluid center-txt">
                <h4>More games will be ported to the web July 2018</h4>
            </div>
        </div>
    </div>

    <div class="row h-25 justify-content-center">
        <div class="col-md-4 col-lg-4 mt-4">
            <div class="card">
                <img class="card-img-top" src="{% static 'arcade/images/Phishing.png' %}"  alt="Card image cap">
                <div class="card-block text-center">
                    <h4 class="card-title">Phishing</h4>
                    <p class="card-text">I made this game for a 48 hour game jam. The goal is to catch all the phishing fish while you let all the normal ones through.</p>
                    <a href="{% url 'arcade:phishing' %}" class="btn btn-primary btn-center">Play</a>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
