{% extends 'projects_navbar.html' %}
{% load staticfiles %}


{% block header %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'arcade/style.css' %}" >

    <link rel="shortcut icon" href="../../static/arcade/TemplateData/favicon.ico">
    <link rel="stylesheet" href="../../static/arcade/TemplateData/style.css">
    <script src="../../static/arcade/TemplateData/UnityProgress.js"></script>
    <script src="../../static/arcade/Build/UnityLoader.js"></script>
    <script>
        var gameInstance = UnityLoader.instantiate("gameContainer", "../../static/arcade/Build/gamebuilds.json", {onProgress: UnityProgress});
    </script>


{% endblock header %}

{% block body %}
    <div class="webgl-content">
        <div id="gameContainer" style="width: 960px; height: 600px"></div>
        <div class="footer">
            <div class="webgl-logo"></div>
            <div class="fullscreen" onclick="gameInstance.SetFullscreen(1)"></div>
            <div class="title">Fullscreen</div>
        </div>
    </div>
{% endblock body %}
