body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}


.nopad{
  padding: 0px;
}

.myname{
  color: #FFF; font-family: 'Berkshire Swash', cursive;
}

.bgimg {
  background: url('images/cloud.png') no-repeat center center;
  height: 100%;
      background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimga {

}

.williamimg {
  background: url('images/ClassyWilliam.jpg') no-repeat center center;
  height: 100%;
      background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


