body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.card-img-top {
    width: 100%;
    height: 21vw;
    object-fit: cover;
}

.img-bg {
    background: url('images/ProjectBG.jpg') no-repeat center center;
    height: 100%;
    background-size: cover;
}


.img-gamedev {
  background: url('images/Arcade.jpg') no-repeat center center;
  height: 100%;
  background-size: cover;
}

.img-web {
  background: url('images/Web.png') no-repeat center center;
  height: 100%;
  background-size: cover;
}

.img-code {
  background: url('images/Code.png') no-repeat center center;
  height: 100%;
  background-size: cover;
}

.nopad{
  padding: 0px;
}

.myname{
  color: #FFF; font-family: 'Berkshire Swash', cursive;
}


